{% extends 'base/base.html' %}
{% block title %} Homepage {% endblock %}
{% block content %}

    <div class="row">
        <button id="button_1">Odesli</button>
    </div>

    <script>
        jQuery(document).ready(function() {
            jQuery("#button_1").click(function (e) {
                e.preventDefault();
                jQuery.ajax({
                    type: "POST",
                    url: "/ajax-test/",
                    data: {
                        id: 1,

                    },
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            })
        })

    </script>

{% endblock %}