{% extends 'base/base.html' %}
{% block title %} Ucitele {% endblock %}
{% block content %}
    <h> Seznam učitelů </h>
    <div class="row">
        <div class="col-lg-10">
            <table class="glyphicon-remove" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Login</th>
                    <th scope="col">Jméno</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for t in teachers %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ t.login }}</td>
                        <td>{{ t.name }}</td>
                        <td><a class="btn">
                            <i class="icon_pencil-edit"></i>
                        </a></td>
                        <td><a id="delete_teacher" class="">
                            <i class="icon_trash"></i>
                        </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        jQuery("#delete_teacher").on("click", function(e) {
            var link = this;

            e.preventDefault();

            $("<div>Are you sure you want to continue?</div>").dialog({
                buttons: {
                    "Ok": function() {
                        window.location = link.href;
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>



{% endblock %}