<div class="mb-3">
    <form action="/znamka/" method="post">
        <div class="form-group">
            <label for="gradeName">Název známky</label>
            <input name="name" type="text" class="form-control" id="gradeName" placeholder="Zadejte název známky">
        </div>
        <div class="form-group">
            <label for="poradi">Pořadí</label>
            <input name="order" type="text" class="form-control" id="poradi" placeholder="Zadejte pořadí">
        </div>


        <button type="submit" class="btn btn-primary">Uložit</button>
    </form>
</div>