
<div class="mb-3">
    <form action="/ucitel/" method="post">
        <div class="form-group">
            <label for="loginName">Login</label>
            <input name="login" type="text" class="form-control" id="loginName" placeholder="Zadejte login">
        </div>
        <div class="form-group">
            <label for="exampleInputName1">Jméno</label>
            <input name="fname" type="text" class="form-control" id="exampleInputName1" placeholder="Zadejte jmeno">
        </div>
        <div class="form-group">
            <label for="exampleInputSurname1">Přijmení</label>
            <input name="lname" type="text" class="form-control" id="exampleInputSurname1" placeholder="Zadejte přijmení">
        </div>
        <div class="form-group">
            <label for="isManager">Manažer</label>
            <input name="manager" type="checkbox" class="form-control" id="isManager">
        </div>

        <button type="submit" class="btn btn-primary">Uložit</button>
    </form>
</div>