<div class="mb-3">
    <form action="/grades/" method="post">
        <div class="form-group">
            <label for="name">Jméno</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="name">
        </div>
        <div class="form-group">
            <label for="order">Order</label>
            <input name="order" type="int" class="form-control" id="order" placeholder="order">
        </div>
        <div class="form-group">
            <label for="identifier">identifier</label>
            <input name="identifier" type="text" class="form-control" id="identifier" placeholder="identifier">
        </div>

        <button type="submit" class="btn btn-primary">Uložit</button>
    </form>
</div>