{% from 'forms/form_macros.html' import form_field %}

<form class="form form-validate form-horizontal" novalidate method="POST" action=".">
    {{ form.csrf_token }}

    {{ form_field(form.title,with_label=1) }}
    {{ form_field(form.supervisor,with_label=1) }}
    {{ form_field(form.student,with_label=1) }}
    {{ form_field(form.class_exp,with_label=1) }}
    {{ form_field(form.school_year,with_label=1) }}
    {{ form_field(form.date_to,with_label=1) }}

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button class="btn btn-primary" type="submit">Uložit</button>
{# tady dat "projects" misto project_add #}
        <a href="{{ url_for("project_add") }}" class="btn btn-default">Storno</a>
      </div>
    </div>
</form>
