{% from 'forms/form_macros.html' import form_field %}

<form class="form form-validate form-horizontal" novalidate method="POST" action=".">
    {{ form.csrf_token }}
    {{ form_field(form.login,with_label=1) }}
    {{ form_field(form.firstname,with_label=1) }}
    {{ form_field(form.surname,with_label=1) }}
    {{ form_field(form.classroom,with_label=1) }}
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button class="btn btn-primary" type="submit">Uložit</button>
        <a href="{{ url_for("students") }}" class="btn btn-default">Storno</a>
      </div>
    </div>
</form>
