{% extends 'base.html' %}
{% block title %} Seznam or tabulka učitelů {% endblock %}

{% block content %}
<style>
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
</style>
<div class = "mb-3">
  <h2>Tabulka učitelů</h2>

  <table>
    <tr>
      <th >Login</th>
      <th>Jméno</th>
      <th>Manager</th>
    {% for t in teachers %}
    <tr>
    <td>{{t.login}}</td>
    <td>{{t.name}}</td>

    <td>{{t.manager}}</td>
    </tr>
    {% endfor %}
  </table>

</div>
<!--
<div class="row">
  <div class="col-sm-2">{% include 'forms/add_teacher_form.html' %}</div>
</div> -->
{% endblock %}


