{% extends "base/base.html" %}

{% block title %} Správa studentů {% endblock %}


{% block content %}
<h3 class="page-header"><i class="fa fa-database"></i> Správa studentů</h3>

<div class="row">
  <div class="col-sm-2">

    <a href="{{ url_for("student_add") }}" alt="Nový" title="Nový">
    <i class="icon_plus_alt2"></i> Nový student
    </a>
  </div>
</div>
    <br>
<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="warning">
          <th scope="col">#</th>
          <th scope="col">Login</th>
          <th scope="col">Jméno</th>
          <th scope="col">Příjmení</th>
          <th scope="col">Třída</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
    {% for t in students %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ t.login }}</td>
          <td>{{ t.firstname }}</td>
          <td>{{ t.surname }}</td>
          <td>{{ t.classroom }}</td>
          <td nowrap align="center">
              <a class="link_delete_student" data-student_id="{{ t.id }}" href="/" alt="Smazat" title="Smazat">
                <i class="icon_trash"></i> Smazat
              </a> &nbsp; | &nbsp;
              <a href="{{ t.id }}" alt="Změnit" title="Změnit">
                <i class="icon_pencil-edit"></i> Změnit
              </a>
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>

</div>

<script>
    jQuery(".link_delete_student").on("click", function(e) {
        var odkaz = jQuery(this);

        e.preventDefault();     // aby se nepouzivala defaultni metoda pro obsluhu clicku
        // e.stopPropagation()  // aby se ta udalost obslouzila jen na tomto elementu a ne (i) na nadrazenych elementech

        jQuery("<div>Opravdu smazat?</div>").dialog({
            buttons: {
                "Ano": function() {
                    jQuery.ajax({
                        type: "POST",
                        url: "/ajax-student-delete/",
                        data: {
                            id: odkaz.attr("data-student_id")

                        },
                        success: function (result) {
                            window.location.reload()

                        },
                        error: function (result) {
                            //chybu nebudeme resit...
                        }
                    });

                    $(this).dialog("close");
                },
                "Ne": function() {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>


{% endblock %}
